{
  "arrowParens": "always",
  "singleQuote": true,
  "endOfLine": "lf",
  "printWidth": 80,
  "useTabs": false,
  "trailingComma": "all",
  "semi": true,
  "plugins": ["prettier-plugin-tailwindcss"]
}
